  <%= form_for :search, url: root_path, method: "GET" do |f| %>
    <h4>Filter by</h4>
    <%= f.select :category, Movie::CATEGORIES, style: "display: block" %>
    <%= f.submit "Search", class: "button is-primary" %>
    <%= link_to "Reset", root_path, class:"button is-danger"  %>
  <% end %>

<div id="movies" style= "margin:10%; margin-top:2%; margin-bottom:2%" class="flex-container">
  <% @movies.each do |movie| %>
  <div class="flex-items">
    <%= render movie %>
    <p>
      <%= link_to "Details", movie, class:"button is-info" %>
    </p>
  </div>
  <% end %>
</div>

<div style="margin-left:25%; margin-right:25%">
<%= will_paginate @movies, renderer: BulmaPagination::Rails, class: "is-centered" %>
</div>