<%= render @movie %>

<p>
  <%= @movie.category %>
</p>

<p>
  <%= @movie.description %>
</p>

<div>
  <%= link_to "Edit this movie", edit_movie_path(@movie) %>

<% if current_user %>
  <% if current_user.email == "admin@admin.com" %>
    <%= link_to "Back to movies", movies_path %>
    <%= button_to "Destroy this movie", @movie, method: :delete %>
  <% end %> 
<% end %>  
</div>
