<%= render @movie %>

<p>
  Category: <%= @movie.category %>
</p>

<p>
  <%= @movie.description %>
</p>

<div>
  <%= link_to "Back to movies", movies_path, class:"button is-info" %>

<% if current_user %>
  <% if current_user.email == "admin@admin.com" %>
    <%= link_to "Edit this movie", edit_movie_path(@movie), class:"button is-warning" %>
    <%= button_to "Destroy this movie", @movie, method: :delete, class:"button is-danger" %>
  <% end %> 
<% end %>  
</div>
